<footer class="mbs-auto plb-5 pli-10 text-center text-xs">
  <p>
    <span class="whitespace-nowrap">LAMY is a trademark of C. Josef Lamy GmbH.</span>
    <span class="whitespace-nowrap">
      This site is not affiliated with or endorsed by <span class="uppercase">Lamy</span>.
    </span>
  </p>
  <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
    <a property="dct:title" rel="cc:attributionURL" href="https://alloflamy.com/"
      >All of <span class="uppercase">Lamy</span></a
    >
    by
    <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://kevinyank.com/">Kevin Yank</a> is
    licensed under
    <a
      href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
      rel="license noopener noreferrer"
      style="display:inline-block;"
      >CC BY 4.0<img
        class="bs-4 ms-1 inline align-text-bottom"
        src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
      ><img
        class="bs-4 ms-1 inline align-text-bottom"
        src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a
    >.
  </p>
</footer>
