<footer class="mbs-auto plb-5 pli-10 text-center text-xs">
  <span class="whitespace-nowrap">LAMY is a trademark of C. Josef Lamy GmbH.</span>
  <span class="whitespace-nowrap">This site is not affiliated with or endorsed by LAMY.</span>
</footer>
