<!doctype html>
<html lang="{{ site.lang }}" class="bs-full">
  {% include head %}

  <body class="bs-full is-full flex flex-col items-stretch text-xl text-neutral-700">
    {% include header %}

    <main class="is-full max-is-4xl pli-10 content self-center">{{ content }}</main>

    {% include footer %}
  </body>
</html>
